@font-face {
  font-family: "N27";
  src: url("N27-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "N27";
  src: url("N27-RegularItalic.otf") format("opentype");
  font-weight: normal;
  font-style: italic;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%; /* Ensure the body takes full viewport height */
  font-family: "N27", monospace;
  backdrop-filter: none;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(
    5,
    1fr
  ); /* Define rows to be equally distributed */
  width: 100vw; /* Full viewport width */
  height: 100vh; /* Full viewport height */
  gap: 0; /* No space between grid items */
}

/* Assigning the grid items to specific areas */
#item1 {
  position: relative;
  grid-area: 1 / 1 / 8 / 2;
}
#item2 {
  grid-area: 1 / 2 / 2 / 8;
}
#item3 {
  position: relative;
  grid-area: 1 / 8 / 5 / 9;
}
#item4 {
  position: relative;
  grid-area: 2 / 2 / 6 / 2;
}
#item5 {
  position: relative;
  grid-area: 2 / 3 / 5 / 4;
}
#item6 {
  grid-area: 2 / 4 / 3 / 6;
}
#item7 {
  position: relative;
  grid-area: 2 / 6 / 5 / 8;
}
#item8 {
  grid-area: 3 / 4 / 5 / 6;
}
#item9 {
  grid-area: 5 / 3 / 8 / 7;
}
#item10 {
  grid-area: 5 / 7 / 8 / 9;
}

.grid-item {
  background-color: #ff0101; /* As seen in the image */
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black; /* Keeping the borders to distinguish the divs */
}

/* Google Fonts - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  min-height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}

/*SLIDER 1*/

.wrapper-one {
  position: absolute;
  top: 50%;
  left: 42%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate(-50%, -50%) rotate(90deg);
  width: 430%; /* This will be the height of your vertical slider */
  height: 15%; /* Thickness of the slider */
  margin: 0 15px;
  padding: 0 20px;
  border-radius: 100px;
  background: #d9d9d9;
}

.wrapper-one input {
  position: relative;
  width: 100%;
  margin: 0 10px;
  appearance: none;
  height: 50px;
  border-radius: 100px;
  border: 1px solid black;
  background-color: #d9d9d9;
  cursor: pointer;
  overflow: hidden;
}


.wrapper-one input::-webkit-slider-thumb {
  appearance: none;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 1px solid black;
  background-color: #d9d9d9;
  box-shadow: -430px 0 0 400px black;
}


/*SLIDER 3*/
.wrapper-three {
  position: absolute;
  top: 50%;
  left: 42%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate(-50%, -50%) rotate(-90deg);
  width: 335%; /* This will be the height of your vertical slider */
  height: 16%; /* Thickness of the slider */
  margin: 0 15px;
  padding: 0 20px;
  border-radius: 100px;
  background: #d9d9d9;
}

.wrapper-three input {
  position: relative;
  width: 100%;
  margin: 0 10px;
  appearance: none;
  height: 50px;
  border-radius: 25px;
  border: 1px solid black;
  background-color: #d9d9d9;
  overflow: hidden;
  cursor: pointer;
}

.wrapper-three input::-webkit-slider-thumb {
  appearance: none;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 1px solid black;
  background-color: #d9d9d9;
  box-shadow: -430px 0 0 400px black;
}

/*SLIDER 4*/
.wrapper-four {
  position: absolute;
  top: 50%;
  left: 42%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate(-50%, -50%) rotate(-90deg);
  width: 350%; /* This will be the height of your vertical slider */
  height: 17%; /* Thickness of the slider */
  margin: 0 15px;
  padding: 0 20px;
  border-radius: 100px;
  background: #d9d9d9;
}

.wrapper-four input {
  position: relative;
  width: 100%;
  margin: 0 10px;
  appearance: none;
  height: 35px;
  border-radius: 25px;
  border: 1px solid black;
  background-color: #d9d9d9;
  overflow: hidden;
  cursor: pointer;
}

.wrapper-four input::-webkit-slider-thumb {
  appearance: none;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  border: 1px solid black;
  background-color: #d9d9d9;
  box-shadow: -420px 0 0 400px black;
}

/*SLIDER 5*/
.wrapper-five {
  position: absolute;
  top: 50%;
  left: 42%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate(-50%, -50%) rotate(-90deg);
  width: 260%; /* This will be the height of your vertical slider */
  height: 27%; /* Thickness of the slider */
  margin: 0 15px;
  padding: 0 20px;
  border-radius: 100px;
  background: #d9d9d9;
}

.wrapper-five input {
  position: relative;
  width: 100%;
  margin: 0 10px;
  appearance: none;
  height: 60px;
  border-radius: 100px;
  border: 1px solid black;
  background-color: #d9d9d9;
  overflow: hidden;
  cursor: pointer;
}

.wrapper-five input::-webkit-slider-thumb {
  appearance: none;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  border: 1px solid black;
  background-color: #d9d9d9;
  box-shadow: -430px 0 0 400px black;
}

/*SLIDER 7*/
.wrapper-seven {
  position: absolute;
  top: 50%;
  left: 46%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate(-50%, -50%) rotate(-90deg);
  width: 110%; /* This will be the height of your vertical slider */
  height: 40%; /* Thickness of the slider */
  margin: 0 15px;
  padding: 0 20px;
  border-radius: 1000px;
  background: #d9d9d9;
}

.wrapper-seven input {
  position: relative;
  width: 85%;
  margin: 0 10px;
  appearance: none;
  height: 100px;
  border-radius: 100px;
  border: 1px solid black;
  background-color: #d9d9d9;
  overflow: hidden;
  cursor: pointer;
}

.wrapper-seven input::-webkit-slider-thumb {
  appearance: none;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: 1px solid black;
  background-color: #d9d9d9;
  box-shadow: -490px 0 0 400px black;
}

/*SLIDER 2*/
.wrapper-two {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 110px;
  margin: 0 15px;
  width: 100%;
  padding: 0 20px;
  border-radius: 100px;
  background: #d9d9d9;
}

.wrapper-two input {
  position: relative;
  width: 100%;
  margin: 0 10px;
  appearance: none;
  height: 35px;
  border-radius: 25px;
  border: 1px solid black;
  background-color: #d9d9d9;
  overflow: hidden;
  cursor: pointer;
}

.wrapper-two input::-webkit-slider-thumb {
  appearance: none;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  border: 1px solid black;
  background-color: #d9d9d9;
  box-shadow: -520px 0 0 500px black;
}

/*SLIDER 6*/
.wrapper-six {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 85%;
  margin: 0 15px;
  width: 100%;
  padding: 0 20px;
  border-radius: 100px;
  background: #d9d9d9;
}

.wrapper-six input {
  position: relative;
  width: 100%;
  margin: 0 10px;
  appearance: none;
  height: 80%;
  border-radius: 500px;
  border: 1px solid black;
  background-color: #d9d9d9;
  overflow: hidden;
  cursor: pointer;
}

.wrapper-six input::-webkit-slider-thumb {
  appearance: none;
  height: 115px;
  width: 115px;
  border-radius: 50%;
  border: 1px solid black;
  background-color: #d9d9d9;
  box-shadow: -450px 0 0 400px black;
}

/*SLIDER 8 - PRINT*/
.wrapper-eight {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 85%;
  margin: 0 15px;
  width: 100%;
  padding: 0 20px;
  border-radius: 1000px;
  background: #d9d9d9;
}

.wrapper-eight input {
  position: relative;
  width: 100%;
  margin: 0 10px;
  appearance: none;
  height: 85%;
  border-radius: 1000px;
  border: 1px solid black;
  background-color: #d9d9d9;
  overflow: hidden;
  cursor: pointer;
}

.wrapper-eight input::-webkit-slider-thumb {
  appearance: none;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  border: 1px solid black;
  background-color: #d9d9d9;
  box-shadow: -500px 0 0 400px black;
}

/*SLIDER 9*/
.wrapper-nine {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 85%;
  margin: 0 15px;
  width: 100%;
  padding: 0 20px;
  border-radius: 100px;
  background: #d9d9d9;
}

.wrapper-nine input {
  position: relative;
  width: 100%;
  margin: 0 10px;
  appearance: none;
  height: 70%;
  border-radius: 500px;
  border: 1px solid black;
  background-color: #d9d9d9;
  overflow: hidden;
  cursor: pointer;
}

.wrapper-nine input::-webkit-slider-thumb {
  appearance: none;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: 1px solid black;
  background-color: #d9d9d9;
  box-shadow: -430px 0 0 400px black;
}

/*SLIDER 10*/
.wrapper-ten {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 85%;
  margin: 0 15px;
  width: 80%;
  padding: 0 20px;
  border-radius: 100px;
  background: #d9d9d9;
}

.wrapper-ten input {
  position: relative;
  width: 100%;
  margin: 0 10px;
  appearance: none;
  height: 40px;
  border-radius: 50px;
  border: 1px solid black;
  background-color: #d9d9d9;
  overflow: hidden;
  cursor: pointer;
}

.wrapper-ten input::-webkit-slider-thumb {
  appearance: none;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 1px solid black;
  background-color: #d9d9d9;
  box-shadow: -430px 0 0 400px black;
}

/* input::-webkit-slider-thumb {
  appearance: none;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  border: 1px solid black;
  background-color: #d9d9d9;
  box-shadow: -208px 0 0 200px black;
} */

.text-box {
  position: fixed;
  display: flex;
  width: 1130px;
  height: 400px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  overflow: auto;
  bottom: -100%; /* Start off the screen */
  left: 50%;
  transform: translateX(-50%);
  width: 50%; /* Set the width as required */
  background: rgba(255, 255, 255, 0.1);
  padding: 20px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 2px solid rgba(255, 255, 255, 0.2);
  border-top: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);
  transition: bottom 0.5s ease; /* Smooth transition for the bottom property */
  z-index: 1000; /* Make sure it's above other content */
}

.main {
  color: blue;
  font-family: N27;
  font-size: 14px;
  font-style: italic;
  font-weight: 400;
  line-height: 112.8%; /* 62.04px */
}

.sub {
  color: blue;
  font-family: N27;
  font-size: 25px;
  font-style: italic;
  font-weight: 400;
  line-height: 112.8%;
}

#titleTextBox {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-shrink: 0;
  overflow-x: hidden;
  overflow-y: auto;
  word-wrap: break-word;
  width: 880px;
  height: 425px;
  top: -1000%;
  left: 50%;
  transform: translateX(-50%);
  width: 50%; /* Set the width as required */
  background: rgba(255, 255, 255, 0.1);
  padding: 20px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 2px solid rgba(255, 255, 255, 0.2);
  border-top: 2px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(5px);
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: top 0.5s ease; /* Smooth transition for the bottom property */
  z-index: 1000; /* Make sure it's above other content */
}

.sub2 {
  color: blue;
  font-family: N27;
  font-size: 50px;
  font-style: italic;
  font-weight: 400;
  line-height: 112.8%; /* 84.07px */
}

.title {
  color: blue;
  font-family: N27;
  font-size: 150px;
  font-style: italic;
  font-weight: 400;
  line-height: 90%;
}

/* .grain {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background-image: repeating-linear-gradient(
      0deg,
      #000 0,
      transparent 1px,
      transparent 3px
    ),
    repeating-linear-gradient(90deg, #000 0, transparent 1px, transparent 3px);
  opacity: 0; 
  z-index: 9999;
} */

/* .grain {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background-image: 
    repeating-linear-gradient(
      0deg,
      rgba(255,255,255,0.1) 0,
      rgba(255,255,255,0.1) 1px,
      transparent 1px,
      transparent 6px
    ),
    repeating-linear-gradient(
      90deg,
      rgba(0,0,0,0.1) 0,
      rgba(0,0,0,0.1) 2px,
      transparent 2px,
      transparent 6px
    );
  opacity: 0; 
  z-index: 9999;
} */

/* CSS for the printable class */
.printable {
  /* The printable class ensures the textbox appears when printing */
}

@media print {
  body,
  html {
    height: auto;
    overflow: visible;
  }

  .wrapper-one,
  .wrapper-two,
  .wrapper-three,
  .wrapper-four,
  .wrapper-five,
  .wrapper-six,
  .wrapper-seven,
  .wrapper-eight,
  .wrapper-nine,
  .wrapper-ten,
  .grid-item,
  .text-box,
  #titleTextBox {
    /* display: none; */
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
  }

  #titleTextBox,
  .text-box {
    background: rgba(217, 217, 217, 0.5);
  }

  /* When printing, only show the textbox if it has the printable class */
  #textBox:not(.printable) {
    display: none !important;
  }

    /* Custom header */
    @page {
      @top-center {
        content: "Your Custom Header Content";
        font-size: 12pt;
      }
    }
  
    /* Custom footer */
    @page {
      @bottom-center {
        content: "Your Custom Footer Content";
        font-size: 12pt;
      }
    }


}

  



/* MOBILE */

@media only screen and (max-width: 650px) {
  .grid-container {
    grid-template-columns: 1fr; /* Single column layout */
    grid-template-rows: repeat(10, auto); /* Adjust number of rows as needed */
  }

  #item1,
  #item2,
  #item3,
  #item4,
  #item5,
  #item6,
  #item7,
  #item8,
  #item9,
  #item10 {
    position: static;
    grid-column: 1; /* All items take the full width of the single column */
    grid-row: auto; /* Each item takes up as much space as it needs */
  }

  .wrapper-one,
  .wrapper-two,
  .wrapper-three,
  .wrapper-four,
  .wrapper-five,
  .wrapper-six,
  .wrapper-seven,
  .wrapper-eight,
  .wrapper-nine,
  .wrapper-ten {
    transform: rotate(0deg); /* Reset rotation for vertical alignment */
    width: 90%; /* Adjust width to fit within the grid item */
    margin: 10px auto; /* Center within the grid item */

    position: relative;
    left: 0.5%;
    top: 1%;
  }

  .wrapper-one input,
  .wrapper-two input,
  .wrapper-three input,
  .wrapper-four input,
  .wrapper-five input,
  .wrapper-six input,
  .wrapper-seven input,
  .wrapper-eight input,
  .wrapper-nine input,
  .wrapper-ten input {
    height: 30px; /* Increase height for better touch interaction */
  }

  .main {
    /* Adjust font sizes for smaller screens */
    font-size: 20px; /* Adjust as needed */
  }

  .sub {
    /* Adjust font sizes for smaller screens */
    font-size: smaller; /* Adjust as needed */
  }

  .sub2 {
    font-size: 50px;
  }

  #titleTextBox {
    height: 325px;
  }

  .text-box {
    backdrop-filter: blur(5px);
  }

  .title {
    font-size: 50px;
  }

  .wrapper-one input::-webkit-slider-thumb,
  .wrapper-two input::-webkit-slider-thumb,
  .wrapper-three input::-webkit-slider-thumb,
  .wrapper-four input::-webkit-slider-thumb,
  .wrapper-five input::-webkit-slider-thumb,
  .wrapper-six input::-webkit-slider-thumb,
  .wrapper-seven input::-webkit-slider-thumb,
  .wrapper-eight input::-webkit-slider-thumb,
  .wrapper-nine input::-webkit-slider-thumb,
  .wrapper-ten input::-webkit-slider-thumb {
    appearance: none;
    height: 30px;
    width: 30px;
  }

  .wrapper-one,
  .wrapper-two,
  .wrapper-three,
  .wrapper-four,
  .wrapper-five,
  .wrapper-six,
  .wrapper-seven,
  .wrapper-eight,
  .wrapper-nine,
  .wrapper-ten {
    width: 90%;
    height: 90%;
  }
}

@media only screen and (max-width: 428px) {
  #titleTextBox {
    height: 250px;
  }

  .main {
    font-size: 15px;
  }

  .sub {
    font-size: 10px; 
  }

  .sub2 {
    font-size: 15px;
  }

  .title {
    font-size: 20px;
  }
}
